[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/DaKup/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/DaKup/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/DaKup/DiligentSamples.git
	branch = master
	update = merge
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/DaKup/DiligentFX.git
